<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h2>Behold magic digit: {{magicDigit}}</h2>
  <h2>You have {{magicCount}} magic numbers</h2>
  <h2>Behold magic numbers:</h2>
  <ul>
    <li *ngFor="let num of magicNumbers">
      Magic: {{num}}
    </li>
  </ul>

  <button (click)="haveRights=!haveRights">Click me!</button>
  <div *ngIf="!haveRights"> </div>
  <div *ngIf="haveRights">
    <p>Now you see this {{importantText}}</p>
  </div>
</div>

  <h2>Behold magic strings:</h2>
  <ul>
    <li *ngFor="let str of magicStrings">
      Magic: {{str}}
    </li>
  </ul>
  <h2>Here goes subapp with local data provider:</h2>
  <sub-app></sub-app>
  <h2>And here goes subapp with random data provider:</h2>
  <rnd-sub-app></rnd-sub-app>
